html{ box-sizing: border-box;

}
*{
    box-sizing: inherit;
    margin: 0 ;
    padding: 0;
}
$main_width:900px;
$item_width:50%;

@mixin we {
    width: $main_width;
    margin: 0 auto;
display: flex;
img{
    width: $item_width;
}

 main { width: $item_width;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
   
}
    
}

.we{
    height: 100vh;
    width: $main_width;
    margin: 0 auto;
    border: 1px solid black;
    
}
header{
    height: 100%;
    margin: 0 auto;
    width: $main_width;
    background-position: center center;
    background-image: url(../desktop-image/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
   
   
       
}
.eag{@include we()
   
}
.cup{
    @include we()
}
.photo{
    width: $main_width;
    display: flex;
    margin: 0 auto;
   .l img {
    
    
    background-image: url("../img/image-graphic-design.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: center;
        
    }

}
  
    
    

